.container {
    .box {
        color: #000000;

        &.base {
            background-color: #ff0000;
        }
        &.important {
            background-color: #a60000;
        }
        &.warning {
            background-color: #df6262;
        }
        &.font {
            :first-of-type {
                font-family: Arial;
            }
        }
        &.shadow {
            -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
        }
    }
}